*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navBar{
    background-color: aqua;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    ;
}
.contain-options{
    display: flex;
    gap: 20px;
}