@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,300;1,300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: aliceblue;
    background:trea ;
}


.body {
    border-radius: 20px;
    height: fit-content;
    background-image: linear-gradient(0deg,#0F2027,#203A43,#2C5364);
    padding: 50px;
}

.img {
    width: 30%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    object-position: left center;
    box-shadow: 5px 10px 8px #d1d8e0 , 14px 16px 8px #535c68  ;
} 

.img-body {
    display: flex;
    justify-content: space-around;
}

.img-div{
    width: fit-content;
    height: fit-content;
}
.content {
    margin-top :20px ;
    font-family:Roboto ;
    border: solid 2px #535c68;
    border-radius: 10px;
    box-shadow: 4px 3px 10px greenyellow   ;
    padding: 10px;
    background-image: linear-gradient(to right,#159957,#155799,transparent);
}

h2 {
    text-decoration: underline;
}

.border-gradient {
    border-radius: 20px;
    margin-top: 90px;
    padding : 10px;
    background-image: linear-gradient(270deg,#1a2a6c ,#b21f1f );
}
.footerDetails li{
  color: #0F2027;
}
.footerDetails {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0px!important;
    height: 40vh;
    margin-top: 100px;
    background-image: linear-gradient(to top ,#283c86 ,#45a247,#fff);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}
.footerDetails li a{
    color: #0F2027;
  }


.button-35 {
  width: 7%!important;
  margin-right: 30px !important ;
  height:50px!important;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 2px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 10px;
  font-weight: bold;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.second-title{
    text-decoration: underline  dotted red ;
}

.email-user{
    color: #0F2027;
}


.delete_account {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0px 10px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.delete_account:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.delete_account:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.delete_account:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
