@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,300;1,300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: aliceblue;
    background:trea ;
}


.body {
    border-radius: 20px;
    height: fit-content;
    background-image: linear-gradient(0deg,#0F2027,#203A43,#2C5364);
    padding: 50px;
}

.img {
    width: 30%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    object-position: left center;
    box-shadow: 5px 10px 8px #d1d8e0 , 14px 16px 8px #535c68  ;
} 

.img-body {
    display: flex;
    justify-content: space-around;
}

.img-div{
    width: fit-content;
    height: fit-content;
}
.content {
    margin-top :20px ;
    font-family:Roboto ;
    border: solid 2px #535c68;
    border-radius: 10px;
    box-shadow: 4px 3px 10px greenyellow   ;
    padding: 10px;
    background-image: linear-gradient(to right,#159957,#155799,transparent);
}

h2 {
    text-decoration: underline;
}
h5 {
    
    text-decoration: underline  dotted red ;
}
.border-gradient {
    border-radius: 20px;
    margin-top: 90px;
    padding : 10px;
    background-image: linear-gradient(270deg,#1a2a6c ,#b21f1f );
}
.footerDetails li{
  color: #0F2027;
}
.footerDetails {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0px!important;
    height: 40vh;
    margin-top: 100px;
    background-image: linear-gradient(to top ,#283c86 ,#45a247,#fff);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}
.footerDetails li a{
    color: #0F2027;
  }