*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.main_content{
    margin-top: 80px ;
    display: flex;
    height: fit-content;
}
.teammate {
    width: 300px;
}
.content-about{
    color:blue;
}